<div mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>Flight</mat-label>
        <input matInput [(ngModel)]="booking.flight" readonly="true">
    </mat-form-field>
    <!-- <mat-form-field appearance="fill">
        <mat-label>Booking Id</mat-label>
        <input matInput [(ngModel)]="booking.bookingId" type="number">
    </mat-form-field> -->
    <mat-form-field appearance="outline">
        <mat-label>Patron</mat-label>
        <input matInput [(ngModel)]="booking.patron" #patron='ngModel' required>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Ticket Price</mat-label>
        <input matInput [(ngModel)]="booking.ticketPrice" type="number" readonly="true">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Number Of Tickets</mat-label>
        <input matInput [(ngModel)]="booking.numberOfTickets" #numberOfTickets='ngModel' type="number" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Booking Agent</mat-label>
        <input matInput [(ngModel)]="booking.bookingAgent" #bookingAgent='ngModel' required>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button *ngIf='isValid(patron, numberOfTickets, bookingAgent)' [mat-dialog-close]="booking">Submit</button>
    <button mat-button disabled *ngIf='!isValid(patron, numberOfTickets, bookingAgent)'>Submit</button>
</div>